<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">CLIENTES</h1>
</div>

<div class="card">
    <div class="card-body">
      <h4>Nuevo Cliente</h4>
      <button type="button" class="btn btn-primary">Registrar Cliente</button>
    </div>
  </div>
  <div class="table-responsive">
<table class="table table-striped table-hover" id="productos">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Carlos</td>
          <td>Pereda</td>
          <td>Av Larco 123</td>
          <td>947851263</td>
          
        </tr>
      </tbody>
</table>
</div>

