<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">CATEGORIAS</h1>
</div>
<div class="card">
    <div class="card-body">
      <h4>Nueva Categoria</h4>
      <button type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success'
      style="width: 150px">Registrar</button>
    </div>
  </div>
  <div class="table-responsive">
<table class="table table-striped table-hover" id="productos">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descripción</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categorias">
            <td>{{c.idcat}}</td>
            <td>{{c.descripcion}}</td>

            <td><button class="btn btn-danger btn-sm" type="button"> Eliminar </button></td>  

 
            
                   
        </tr>
    </tbody>
</table>
<div class="modal fade" id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" style="max-width: 70%;">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registro de Cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="modal-body">

                  <div class="submit-form">
                      <div class="row">
                          <div class="col-lg-2">
                              <label for="id_reg_categoria">Descripcion</label>
                              <input [(ngModel)]="categoria.descripcion" type="text" placeholder="Ingrese la categoria"
                                  class="form-control" name="ca" id="id_reg_categoria" />
                          </div>



                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar"
                          style="width: 100px;">Close</button>
                      <div class="form-group text-center">
                          <div class="col-lg-12">
                              <button (click)="registrarCategorias()" id="id_reg_registra"
                                  class="btn btn-success form-control" style="width: 100px;">Registrar</button>
                          </div>
                      </div>
                  </div>



          </div>


      </div>
  </div>
</div>
</div>